extends ../layout/layout

block content

    div#post-publish-app-root
        i.icon.icon-users
    script.
        window.LineTest.renderApp(
                document.querySelector('#post-publish-app-root'),
                {appName: 'PostPublish'}
        );
