extends ../layout/layout

block content

    div#post-publish-app-root
        i.icon.icon-users
    script.
        window.LineTest.renderPostPublishApp(document.querySelector('#post-publish-app-root'));