@import "../../css/_mixin";

.post-publish-app {
    .top-area {
        padding: 10px 0;
        border-bottom: 1px solid @colorv-grey-light-2;
    }

    .head-panel {
        margin-top: 20px;
        padding: 10px 0;
        border-bottom: 1px solid @colorv-grey-light-2;
    }

    .body-area {
        margin-top: 20px;
        padding: 10px 0;
    }

    .foot-panel {
        margin-top: 10px;
        padding: 10px 0;
    }
}

// POPUP
.post-publish-popup {
    .progress-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .progress-message {
        min-width: 220px;
    }
}