if env.APP_MODE === 'development'
    link(rel='stylesheet', href='/bundles/iconfont.css')
    script(type='text/javascript', src='/bundles/app.js')
else
    link(rel='stylesheet', href='/bundles/iconfont.min.css')
    script(type='text/javascript', src='/bundles/app.min.js')
