@import "../../../../../../css/_mixin";

.media-grid-item {
    @media screen and (min-width: 800px) {
        .grid-item(6, 10px);
    }

    @media screen and (max-width: 799px) and (min-width: 600px) {
        .grid-item(5, 10px);
    }

    @media screen and (max-width: 599px) and (min-width: 460px) {
        .grid-item(4, 10px);
    }

    @media screen and (max-width: 459px) and (min-width: 330px) {
        .grid-item(3, 10px);
    }

    @media screen and (max-width: 329px) {
        .grid-item(2, 10px);
    }

    @media screen and (max-width: 300px) {
        .grid-item(2, 10px);
    }
}

.post-content-edit-tool .content-area .image-card {
    .card-placeholder {
        .click-box {
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid @colorv-grey-light-3;
            cursor: pointer;

            .text {
                color: @color-primary;
                .font-button();
            }

            .icon-holder {
                margin-top: 10px;
            }

            .icon {
                font-size: 50px;
                color: @colorv-grey-light-4;
            }

            &:hover {
                .icon {
                    .color-hover(@colorv-grey-light-4);
                }
            }

            &:active {
                .icon {
                    .color-active(@colorv-grey-light-4);
                }
            }
        }

        .hint {
            margin-top: 4px;
            color: @colorv-grey-middle;
            .font-body-small();

            p {
                &:not(:first-child) {
                    margin-top: 3px;
                }
            }
        }
    }

    .card-content {
        ul {
            list-style: none;
            .clear-fix();

            li {
                border: 1px solid @colorv-grey-light-3;
                .media-grid-item();

                .aspect-ratio-keeper {
                    width: 100%;
                    height: 0;
                    padding-bottom: 100%;
                }
            }
        }

        .image-thumbnail,
        .adding-pad {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .image-thumbnail {
            img {
                display: block;
                object-fit: contain;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            .remove-button {
                position: absolute;
                right: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.3);
                color: @colorv-white;
                font-size: 8px;
                width: 18px;
                height: 18px;

                &:hover {
                    background: rgba(0, 0, 0, 0.35);
                }

                &:active {
                    background: rgba(0, 0, 0, 0.4);
                }
            }
        }

        .adding-pad {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .color-interactive(@color-primary);

            &:hover {
                background: @colorv-grey-light-4;
            }

            &:active {
                background: @colorv-grey-light-2;
            }

            .icon {
                font-size: 24px;
            }
        }
    }
}
